.App {
  font-family: sans-serif;
  width: 200px;
  background: lightcoral;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
}

.comp {
  margin-right: 24px;
  font-size: 30px;
}

button {
  width: 100px;
  height: 30px;
  font-size: 20px;
  background: white;
  margin: 10px;
  color: white;
  background: rgb(134, 12, 12);
}
